.account-form {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -160px 0 0 -160px;
  max-width: 320px;
  padding: 36px;
  box-shadow: 0 0 100px rgba(0,0,0,.08);
}

.account-form-forgot {
  float: right;
}
.account-form-button {
  width: 100%;
}
.account-form-error {
	color: red
}

